@charset "ISO-8859-1";



ul {
	
	list-style-type: none;
	padding-left:0;
}


a {text-decoration: none;}

a:hover{background-color: #ee9;}


ul#avdkeukenMenu li{
	
	display: inline;
	
	
}

body{
	
	background-color: #d5e7c2;
	
}



table#artikelsOpDeelnaam td, table#artikelsOpDeelnaam th{
	
	text-align: right;
	min-width: 10em;
	
}

.bold{
	
	font-size: 2em;
}